
<div class="table-operations">
  <button nz-button (click)="resetFilters()">Clear filters</button>
  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
  <app-inch-to-cm-converter></app-inch-to-cm-converter>
</div>
<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      @for (column of listOfColumns; track column.name) {
        <th
          [(nzSortOrder)]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (data of filterTable.data; track data) {
      <tr>
        <td>{{ data.mode }}</td>
        <td>{{ data.movementType }}</td>
        <td>{{ data.incoterms }}</td>
        <td>{{ data.countriesCities }}</td>
        <td>{{ data.packageType }}</td>
        <td>{{ data.unit1Value }}{{ data.unit1 }}</td>
        <td>{{ data.unit2Value }}{{ data.unit2 }}</td>
        <td>{{ data.palletCount }}</td>
        <td>{{ data.currency }}</td>
      </tr>
    }
  </tbody>
</nz-table>
