<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Mode</nz-form-label>
    <nz-form-control nzErrorTip="Please select a mode!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a mode" formControlName="mode"
        [(ngModel)]="selectedMode">
        <nz-option nzLabel="LCL" nzValue="LCL"></nz-option>
        <nz-option nzLabel="Fcl" nzValue="Fcl"></nz-option>
        <nz-option nzLabel="Air" nzValue="Air"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Movement Type</nz-form-label>
    <nz-form-control nzErrorTip="Please select a movement type!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a movement type" formControlName="movementType"
        [(ngModel)]="selectedMovementType">
        <nz-option nzLabel="Door to Door" nzValue="Door to Door"></nz-option>
        <nz-option nzLabel="Port to Door" nzValue="Port to Door"></nz-option>
        <nz-option nzLabel="Door to Port" nzValue="Door to Port"></nz-option>
        <nz-option nzLabel="Port to Port" nzValue="Port to Port"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Incoterms</nz-form-label>
    <nz-form-control nzErrorTip="Please select a incoterms!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a incoterms" formControlName="incoterms"
        [(ngModel)]="selectedIncoterms">
        <nz-option nzLabel="Delivered Duty Paid (DDP)" nzValue="Delivered Duty Paid (DDP)"></nz-option>
        <nz-option nzLabel="Delivered At Place (DAT)" nzValue="Delivered At Place (DAT)"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Countries and Cities</nz-form-label>
    <nz-form-control nzErrorTip="Please select a countries and cities!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="countries-cities" formControlName="countriesCities"
        [(ngModel)]="selectedCountriesCities">
        <nz-option-group nzLabel="USA">
          <nz-option nzValue="New York" nzLabel="New York"></nz-option>
          <nz-option nzValue="Los Angeles" nzLabel="Los Angeles"></nz-option>
          <nz-option nzValue="Miami" nzLabel="Miami"></nz-option>
          <nz-option nzValue="Minnesota" nzLabel="Minnesota"></nz-option>
        </nz-option-group>
        <nz-option-group nzLabel="China">
          <nz-option nzValue="Beijing" nzLabel="Beijing"></nz-option>
          <nz-option nzValue="Shanghai" nzLabel="Shanghai"></nz-option>
        </nz-option-group>
        <nz-option-group nzLabel="Turkey">
          <nz-option nzValue="Istanbul" nzLabel="Istanbul"></nz-option>
          <nz-option nzValue="Izmir" nzLabel="Izmir"></nz-option>
        </nz-option-group>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Package Type</nz-form-label>
    <nz-form-control nzErrorTip="Please select a package type!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a package type" formControlName="packageType"
        [(ngModel)]="selectedPackageType">
        <nz-option nzLabel="Pallet" nzValue="Pallet"></nz-option>
        <nz-option nzLabel="Box" nzValue="Box"></nz-option>
        <nz-option nzLabel="Carton" nzValue="Carton"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Unit1</nz-form-label>
    <nz-form-control nzErrorTip="Please select a unit1!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a unit -1" formControlName="unit1"
        [(ngModel)]="selectedUnit1" (ngModelChange)="onUnit1Change()">
        <nz-option nzLabel="CM" nzValue="CM"></nz-option>
        <nz-option nzLabel="IN" nzValue="IN"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isUnit1InputVisible">
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Unit1 Value</nz-form-label>
    <nz-form-control nzErrorTip="Please input your value!">
      <nz-input-group>
        <input type="text" nz-input formControlName="unit1Value" placeholder="Unit1 Value" [(ngModel)]="unit1Value" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Unit2</nz-form-label>
    <nz-form-control nzErrorTip="Please select a unit2!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a unit -2" formControlName="unit2"
        [(ngModel)]="selectedUnit2" (ngModelChange)="onUnit2Change()">
        <nz-option nzLabel="KG" nzValue="KG"></nz-option>
        <nz-option nzLabel="LB" nzValue="LB"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isUnit2InputVisible">
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Unit2 Value</nz-form-label>
    <nz-form-control nzErrorTip="Please input your value!">
      <nz-input-group>
        <input type="text" nz-input formControlName="unit2Value" placeholder="Unit2 Value" [(ngModel)]="unit2Value" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Currency</nz-form-label>
    <nz-form-control nzErrorTip="Please select a currency!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a currency" formControlName="currency"
        [(ngModel)]="selectedCurrency">
        <nz-option nzLabel="USD - US Dollar" nzValue="USD"></nz-option>
        <nz-option nzLabel="CNY - Chinese Yuan" nzValue="CNY"></nz-option>
        <nz-option nzLabel="TRY - Turkish Lira" nzValue="TRY"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <nz-form-control [nzOffset]="3">
    <button nz-button [nzType]="'primary'">Save</button>
  </nz-form-control>
</form>

<nz-form-control [nzOffset]="3">
  <app-inch-to-cm-converter></app-inch-to-cm-converter>
</nz-form-control>